<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#" >

<!-- Load Jquery and javascript- -->
<script src="/static/jquery-list.js"></script>
<script src="/static/javascript.js"></script>

<!-- head -->
<head>
<meta property="og:image" content="/static/img/preview.jpg" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Ishan Subedi </title>
<link rel="stylesheet" type="text/css" href="/static/index.css">
<link rel="stylesheet" type="text/css" href="/static/blog.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" type="image/x-icon" href="/static/img/icon.png" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<!--head ends-->

<body>

<img class="loading_image" src="/static/img/loading.gif">

<div id="body_wrapper">

<!--responsive menu-->
<div id="res_menu">
<div id="res_menu_label">
<div id="line"></div><div id="line"></div><div id="line"></div>
</div>
</div>

<!---Normal Menu-->
<div id="menu2"></div>
<div id="menu">
<a href="/"> <img class="logo" src="/static/img/logo.gif"> </a>
<div id="menu_tabs">
<a id="1"><p class="menu"> HOME </p></a>
<a id="2"><p class="menu"> ABOUT </p></a>
<a id="3"><p class="menu"> GALLERY </p></a>
<a id="5"><p class="menu"> SERVICES </p></a>
<a href="/blog"><p class="menu"> BLOG </p></a>
<a id="6"><p class="menu"> CONTACT </p></a>

</div>
</div>



<!---------header section-->
<div id="header">
<div id="coverText">
<h1 class="header_head"> Ishan Subedi</h1>
<h2 class="header_head"> Welcome to my Website </h2>
</div>
</div>



<!---------main content starts from here-->
<div id="content">



<!--------About Me section-->
<div id="about_home">
<h1 class="header1">About Me</h1>
<p class="paragraph">Hello there! This is Ishan Subedi. A passionate Full-Stack web developer with passion for Front-End. Have been converting simple pixels into beautiful designs for more than four years. If you are looking for cool websites and graphic designs then well, you have come to the right place. </p>
<!--------Personal Stuffs section------------>
<div id="about2">
<h1 class="header1">Personal Stuffs</h1>
<div id="about_image_holder">
<img class="personal" src="/static/img/18.jpg">
<img class="personal" src="/static/img/17.jpg">
<img class="personal" src="/static/img/16.jpg">
<img class="personal" src="/static/img/15.jpg">
<img class="personal" src="/static/img/14.jpg">
<img class="personal" src="/static/img/13.jpg">
<img class="personal" src="/static/img/12.jpg">
<img class="personal" src="/static/img/10.jpg">
</div>
<p class="paragraph"> I am a crazy fan of football. I never miss a single match of my National Football Team and support Manchester United FC in club level football. I had passion for painting since my early childhood but these days, after I learnt graphic designing, I prefer digital painting over hand drawn paintings. Nevertheless I still love sketching. You can have a look at some of them in my gallery. During long vacations, I enjoy travelling, far from noisy cities where we could find silence and nature at its best. Hiking around the mountains could be a good idea.</p></p>
<div id="button"><a href="#about_home" id="a2"><text class="buttonDefault"> READ LESS</text></a></div>
</div>
<div id="button"><a id="a1"><text class="buttonDefault"> READ ON</text></a></div>
</div>


<!-------gallery section------------->
<div id="gallery_home">
<h1 class="header1">My Works</h1>
<!-------------------->
<div id="gallery_home_items_wrapper">
<!--------First bigger section------------>
<div id="gallery_home1">
<h1 class="image_hover1" > 
<span class="gallery_head"> Game Development</span> <br>
 Name : Ball Game <br><br>
<a href="https://drive.google.com/uc?export=download&id=0BzJ7MMEdeBSaUTBmTDNoaFEtQlE"> <span class="download"> DOWNLOAD </span></a>
</h1>
<img class="image" src="/static/img/ball_game.jpg">
</div>
<!---------Second smaller section-->
<div id="gallery_home2">
<h1 class="image_hover2"> 
<span class="gallery_head"> Logo Design</span> <br>
 Name : JD Films <br><br>
</h1>
<img class="image" src="/static/img/1.jpg">
</div>
<!---------Third smaller section-->
<div id="gallery_home3" style="margin-top:-5px">
<h1 class="image_hover3"> 
<span class="gallery_head"> Logo Design</span> <br>
 Name : Nepal Portal <br><br>
</h1>
<img class="image" src="/static/img/NP.jpg">
</div>
<!---------More Gallery Section-->
<div id="gallery2">
<!---------1st section of more gallery-->
<div id="gallery_home4" style="margin-top:-5px">
<h1 class="image_hover4"> 
<span class="gallery_head"> Digital Painting</span> <br>
 Nepalese Football <br><br>
</h1>
<img class="image" src="/static/img/f.jpg">
</div>
<!---------1st section of more gallery-->
<div id="gallery_home5" style="margin-top:-5px">
<h1 class="image_hover5"> 
<span class="gallery_head"> Digital Painting</span> <br>
 Gurkha Soilder <br><br>
</h1>
<img class="image" src="/static/img/DP1.jpg">
</div>
<!---------1st section of more gallery-->
<div id="gallery_home6" style="margin-top:-5px">
<h1 class="image_hover6"> 
<span class="gallery_head"> Graphic Design</span> <br>
 Champions League Match Banner <br><br>
</h1>
<img class="image" src="/static/img/DP3.jpg">
</div>
<div id="button"><a id="a4"><text class="buttonDefault" > VIEW LESS PROJECTS </text></a></div>

</div>
</div>
<div style="display:table" id="alu"><a><text></text></a></div>
</div>
<div id="button"><a id="a3"><text class="buttonDefault" > VIEW MORE PROJECTS </text></a></div>



<!--------My service section------------>
<div id="services">
<h1 class="header1">My Services</h1>
<div id="services_items_wrapper">	
<!--------First Section------------>
<div class="services_items">
<img class="services" src="/static/img/web_design_icon.png">
<h2 class="services"> Web Design </h2>
<p class="services_p"> I have over 3 years of experience as a web developer. I have awesome Javascript/Django skills and a really good ability to communicate my ideas.  </p>
</div>
<!--------Middle section------------>
<div class="services_items" id="middle">
<img  class="services" src="/static/img/logo_design_icon.png">
<h2 class="services"> Logo Design </h2>
<p class="services_p"> Desiging logos and decorating texts/Typography is one of my passions. I love using my creative ideas to make eyecatching designs. </p>
</div> 
<!------Last Section-------------->
<div class="services_items">
<img class="services" src="/static/img/graphic_design_icon.png">
<h2 class="services"> Graphic Design </h2>
<p class="services_p"> I am really good at converting simple pixels into beautiful designs. I am sure you will love my Photoshop/GIMP skills. </p>
</div> 
<!----------Hire Me button---------->
</div>
<div id="button"><a href="#contact"><text class="buttonDefault"> HIRE ME NOW</text></a></div>
</div>


<!---------------Blog section-->
<div id="blog">
<h1 class="header1" style="margin-bottom:30px;"> Latest Blog Posts </h1>
{% for post in object_list %}
         <div id="post_list">
		 <a href="/blog/{{post.id}}"> <div class="post_img"> {{ post.PostImage|safe }} </div> </a>
         <h2 class="header1"><a href="/blog/{{post.id}}"> {{ post.title }}</a></h2>
         <h5 class="date_time"> {{ post.date }}</h5>
        <div id="button"><a href="/blog/{{post.id}}"><text class="buttonDefault" > READ POST </text></a></div>
		<br>		
        </div>
{% endfor %}


</div>



<!---------Contact Section-->

{% include 'personal/contactform_form.html' %}

<!--------footer section-->
<div id="footer" style="margin-top:0px">
<div id="footer_icons">
<a target="_blank" href="https://www.facebook.com/ishan.subedi.5"><img class="footer_icons" src="/static/img/fb.gif"></a>
<a target="_blank"  href="https://twitter.com/ikushum"><img class="footer_icons" src="/static/img/twitter.gif"></a>
<a target="_blank" href="https://instagram.com/ishan_kushum"><img class="footer_icons" src="/static/img/insta.gif"></a>
<a target="_blank" href="https://github.com/ikushum"><img class="footer_icons" src="/static/img/github.gif"></a>
</div>
<text class="footer"> &#169 2016 Ishan Subedi  </text>
<text class="footer"> All rights reserved </text>
<text class="footer"> Further details: ikushum@gmail.com </text>
</div>
</div>
</div>

</body>
</html>

<!---------The end :) ----------->